@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: #191919;
  font-family: "Lato";
  color: #d4d4d4;
}

main {
  h3 {
    font-size: 0.8rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
}

// .container {
//   margin: 1.5rem auto;
//   width: 800px;
// }

.line {
  width: 100%;
  border-bottom: 2px solid #d4d4d4;
  margin-top: 0.5rem;
}

.bins {
  margin: 0 1rem;
  display: flex;
  justify-content: space-around;
  .bin {
    img {
      width: 100px;
      height: 100px;
    }
    span {
      font-size: 12px;
    }
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
